<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner" style="height: auto">
    <div class="carousel-item active">
      <img
        src="../../assets/Vacciantion3.jpg"
        alt="Vaccine 1"
        width="100%"
        height="500"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/Vacciantion2.jpg"
        alt="Vaccine 2"
        width="100%"
        height="500"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/Vacciantion1.jpg"
        alt="Vaccine 3"
        width="100%"
        height="500"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/Vacciantion4.jpg"
        alt="Vaccine 2"
        width="100%"
        height="500"
      />
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2><p class="text-center">News about Corona Virus</p></h2>
    <div class="row">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            ><b><u>India again in Danger</u></b></mat-card-title
          >
          <mat-card-subtitle>Second Corona Wave</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/News1.jpg"
          alt="Second Corona Wave"
          width="100%"
          height="200"
        />
        <mat-card-content>
          <p>
            <a
              href="https://www.financialexpress.com/lifestyle/health/covid19-coronavirus-india-live-updates-march-24-21-day-lockdown-anniversary-lockdown-anniversary-live-night-curfews-new-containment-zones-today-schools-shutdowns-covid-deaths-corona-vaccine-news-delhi/2218987/"
            >
              The number of Corona cases in India are rising sore!!</a
            >
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            ><b><u>Kolkata in Trouble</u></b></mat-card-title
          >
          <mat-card-subtitle>Corona again in Kolkata</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/News2.jpg"
          alt="Second Corona Wave"
          width="100%"
          height="200"
        />
        <mat-card-content>
          <p>
            <a
              href="https://www.financialexpress.com/lifestyle/health/covid19-coronavirus-india-live-updates-march-24-21-day-lockdown-anniversary-lockdown-anniversary-live-night-curfews-new-containment-zones-today-schools-shutdowns-covid-deaths-corona-vaccine-news-delhi/2218987/"
            >
              The number of Corona cases in Kolkata are rising again!!</a
            >
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title
            ><b><u>Testing of Corona</u></b></mat-card-title
          >
          <mat-card-subtitle
            >A patient being tested for Corona</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/News3.jpg"
          alt="Second Corona Wave"
          width="100%"
          height="200"
        />
        <mat-card-content>
          <p>
            <a
              href="https://www.financialexpress.com/lifestyle/health/covid19-coronavirus-india-live-updates-march-24-21-day-lockdown-anniversary-lockdown-anniversary-live-night-curfews-new-containment-zones-today-schools-shutdowns-covid-deaths-corona-vaccine-news-delhi/2218987/"
            >
              Corona testing and isolation- The only Solution!!</a
            >
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2><p class="text-center">Latest news video on Corona Spreading</p></h2>
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/QiBeywmJoRY"
        ></iframe>
      </div>
    </div>
  </div>
</div>
